@charset "utf-8";
/*배경이미지*/
#wrap {
	width: 100%;
	height: 100%;
	/*포지션*/
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(46, 28, 22, .8);
	
}

/*헤더영역*/
header {}
/*로고*/
header .logo {
	/*포지션*/
	position: absolute;
	left: 50px;
	top: 150px;
	z-index: 100;
	text-align: center;
	transition: all 0.3s;
	transform: scale(1);
}
header .logo:hover {
	transform: scale(1.1);
}
header .logo img {
	width: 300px;
}
header .logo strong {
	display: block;
	font: bold 24px/1.1 'arial', sans-serif;
	position: absolute;
	left: 53px;
	top: 180px;
}

/*sns영역*/
header .sns {
	/*포지션*/
	position: absolute;
	left: 110px;
	top: 30px;
	z-index: 100;
}
header .sns li {
	display: inline-block;
	margin-left: 20px;
}
header .sns li:first-child {
	margin-left: 0;
}
header .sns li a i {
	font-size: 30px;
	color: #000;
	transition: all 0.3s;
	transform: scale(1);
}
header .sns li a:hover i {
	transform: scale(1.2);
	color: #fff;
}

/*컨텐츠 동영상 영역*/
.contents {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
}
/*각 무비클립 설정*/
.contents article {
	width: 12%;
	height: 100%;
	overflow: hidden;
	transition: all 0.7s;
	cursor: pointer;
	/*플롯*/
	float: right;
	/*포지션 기준*/
	position: relative;
}
/*로딩시 타이틀*/
.contents article h2 {
	/*포지션*/
	position: absolute;
	left: 20px;
	top: 50%;
	z-index: 100;
	font: bold 20px 'Raleway', sans-serif;
	color: #000;
	/*텍스트 옆 데코레이션*/
	border-left: 3px solid #555;
	padding-left: 15px;
	margin-top: -10px;
	transition: all 0.5s;
}
.contents article:hover h2 {
	color: #fff;
	border-color: #fff;
}
/*무비클립*/
.contents article video {
	width: auto;
	height: 100%;
	/*포지션*/
	position: absolute;
	left: 0;
	top: 0;
	opacity: .4;
	transition: all 1.2s;
}
.contents article:hover video {
	opacity: .9;
}
/*데코라인*/
.contents article div {
	background-image: url(../images/monogram.png);
	background-repeat: repeat;
	width: 100%;
	height: 0;
	/*포지션*/
	position: absolute;
	left: 0;
	top: 50%;
	opacity: .5;
	transition: all 0.5s;
}
.contents article:hover div {
	height: 70px;
	margin-top: -35px;
}
/*호버시 타이틀*/
.contents article h3 {
	font: bold 36px 'Raleway',sans-serif;
	color: #fff;
	text-align: right;
	/*포지션*/
	/*안보였다가 나오도록 코딩*/
	position: absolute;
	right: -310px;
	bottom: 210px;
	/*지연시간 0.2초*/
	transition: all 0.5s 0.2s;
}
.contents article:hover h3 {
	right: 20px;
}
/*호버시 내용*/
.contents article p {
	width: 300px;
	height: 150px;
	font: bold 14px/1.5 'Arial', sans-serif;
	color: #fff;
	text-align: right;
	/*포지션*/
	/*안보였다가 나오도록 코딩*/
	position: absolute;
	right: -310px;
	bottom: 50px;
	/*지연시간 0.7초*/
	transition: all 0.5s 0.7s;
}
.contents article:hover p {
	right: 15px;
}

/*푸터영역*/
footer {
	width: 100%;
	height: 40px;
	background: #000;
	/*포지션*/
	position: absolute;
	left: 0;
	bottom: 0;
	font: 12px/3.2 'Arial', sans-serif;
	color: #fff;
	letter-spacing: 2px;
	opacity: .8;
}
/*푸터매뉴*/
footer ul {
	/*포지션*/
	position: absolute;
	left: 50px;
	bottom: 0;
}
footer ul li {
	display: inline-block;
	margin-right: 40px;
}
footer ul li:hover {
	font-weight: bold;
}
/*카피라이트*/
footer p {
	/*포지션*/
	position: absolute;
	right: 50px;
	bottom: 0;
}